
body {
    background-color: #efeee7;
    font-family: Georgia, "Times New Roman",Times,serif;
    color: #333333;
    margin: 0;
    padding: 0;
    }

    header {
    background-color: #333333;
    }

    h1{
        color: #eeeeee;
        font-size: 28px;    
    }
    
    h2{
        font-size: 24px;

    }

    a{
        color: red;
    }

    .container  {
        width: 1024 px;
        margin: 0 auto;
    }

    #main-bio,
    #contact-info,
    #bio-image {
        float: left;
    }
        
  #bio-image{
      width: 200 px;
      padding: 0 8px 0 0;
  }
  #main-bio{
        width: 70%;
  }

  #contact-info{
      width: 30%
  }

  .fancy {
    line-height: 0.5;
    text-align: center;
  }
  .fancy span {
    display: inline-block;
    position: relative;  
  }
  .fancy span:before,
  .fancy span:after {
    content: "";
    position: absolute;
    height: 5px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    top: 0;
    width: 600px;
  }
  .fancy span:before {
    right: 100%;
    margin-right: 15px;
  }
  .fancy span:after {
    left: 100%;
    margin-left: 15px;
  }